@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Verdana;
    src: url(font/Verdana.ttf);
}
@font-face {
    font-family: D-DIN-Bold;
    src: url(font/FontsFree-Net-D-DIN-Bold.ttf);
}
